WCF_elso_host/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53081/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_elso_server" />
  <xs:element name="GetEloado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEloadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_elso_server" minOccurs="0" name="GetEloadoResult" nillable="true" type="q1:Eloado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEloadoName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEloadoNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEloadoNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZeneszam">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZeneszamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_elso_server" minOccurs="0" name="GetZeneszamResult" nillable="true" type="q2:Zeneszam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>